<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Cat_v7_01_FG_Trees.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,23},{97,403}}</string>
			<key>offset</key>
			<string>{-16,-114}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,233},{97,403}}</string>
			<key>sourceSize</key>
			<string>{129,641}</string>
		</dict>
		<key>Cat_v7_02_MG_Land.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1921,607}}</string>
			<key>offset</key>
			<string>{0,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,34},{1921,607}}</string>
			<key>sourceSize</key>
			<string>{1921,641}</string>
		</dict>
		<key>Cat_v7_04.1_Cat-Run-In.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1128},{207,145}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,6},{207,145}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_04.2_Cat-Run-In.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1275},{205,145}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,6},{205,145}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_05.1_Cat-Pick-Up.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,1128},{205,145}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,6},{205,145}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_05.2_Cat-Pick-Up.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1422},{205,133}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,18},{205,133}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_05.3_Cat-Pick-Up.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,1335},{205,133}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,18},{205,133}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_05.4_Cat-Pick-Up.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,1542},{205,123}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,28},{205,123}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_05.5_Cat-Pick-Up.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1925},{205,113}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,38},{205,113}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_05.6_Cat-Pick-Up.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,1925},{205,109}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,43},{205,109}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_05.7_Cat-Pick-Up.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,1925},{205,109}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,44},{205,109}}</string>
			<key>sourceSize</key>
			<string>{223,159}</string>
		</dict>
		<key>Cat_v7_06.1_Cat-Bite.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,450},{324,146}}</string>
			<key>offset</key>
			<string>{-7,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,43},{324,146}}</string>
			<key>sourceSize</key>
			<string>{356,218}</string>
		</dict>
		<key>Cat_v7_06.2_Cat-Bite.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,296},{324,152}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,36},{324,152}}</string>
			<key>sourceSize</key>
			<string>{356,218}</string>
		</dict>
		<key>Cat_v7_06.3_Cat-Bite.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,122},{324,172}}</string>
			<key>offset</key>
			<string>{-6,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,13},{324,172}}</string>
			<key>sourceSize</key>
			<string>{356,218}</string>
		</dict>
		<key>Cat_v7_06.4_Cat-Bite.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,952},{306,174}}</string>
			<key>offset</key>
			<string>{-15,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,7},{306,174}}</string>
			<key>sourceSize</key>
			<string>{356,218}</string>
		</dict>
		<key>Cat_v7_07.1_Cat-Run-Back.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,598},{308,175}}</string>
			<key>offset</key>
			<string>{-16,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{308,175}}</string>
			<key>sourceSize</key>
			<string>{356,219}</string>
		</dict>
		<key>Cat_v7_07.2_Cat-Run-Back.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,775},{306,175}}</string>
			<key>offset</key>
			<string>{-15,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,7},{306,175}}</string>
			<key>sourceSize</key>
			<string>{356,219}</string>
		</dict>
		<key>Cat_v7_09.1_Load-Bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,122},{34,422}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,422}}</string>
			<key>sourceSize</key>
			<string>{34,422}</string>
		</dict>
		<key>Cat_v7_09.2_Load-Bar-Fill.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,2},{19,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,8},{19,406}}</string>
			<key>sourceSize</key>
			<string>{35,422}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CAT.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c30023d9e3ce6f5f155f9a8c6f39f2e0$</string>
		<key>textureFileName</key>
		<string>CAT.png</string>
	</dict>
</dict>
</plist>
