<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cat_v6-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{205,109}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,43},{205,109}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>Cat_v6-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,2},{205,109}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,44},{205,109}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>Cat_v6-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,113},{324,146}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,43},{324,146}}</string>
                <key>sourceSize</key>
                <string>{356,218}</string>
            </dict>
            <key>Cat_v6-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,117},{324,152}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{324,152}}</string>
                <key>sourceSize</key>
                <string>{356,218}</string>
            </dict>
            <key>Cat_v6-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{324,172}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{324,172}}</string>
                <key>sourceSize</key>
                <string>{356,218}</string>
            </dict>
            <key>Cat_v6-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,185},{306,174}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{306,174}}</string>
                <key>sourceSize</key>
                <string>{356,218}</string>
            </dict>
            <key>Cat_v6-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,209},{308,175}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{308,175}}</string>
                <key>sourceSize</key>
                <string>{356,219}</string>
            </dict>
            <key>Cat_v6-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,248},{306,175}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{306,175}}</string>
                <key>sourceSize</key>
                <string>{356,219}</string>
            </dict>
            <key>Cat_v6-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{34,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,422}}</string>
                <key>sourceSize</key>
                <string>{34,422}</string>
            </dict>
            <key>Cat_v6-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{19,406}}</string>
                <key>sourceSize</key>
                <string>{35,422}</string>
            </dict>
            <key>Cat_v6_01_FG_Trees.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{97,403}}</string>
                <key>offset</key>
                <string>{-16,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,233},{97,403}}</string>
                <key>sourceSize</key>
                <string>{129,641}</string>
            </dict>
            <key>Cat_v6_02_MG_Land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{1921,607}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{1921,607}}</string>
                <key>sourceSize</key>
                <string>{1921,641}</string>
            </dict>
            <key>Cat_v6_04.1_Cat-Run-In.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,38},{207,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{207,145}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>Cat_v6_04.2_Cat-Run-In.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,101},{205,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{205,145}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>Cat_v6_05.1_Cat-Pick-Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{205,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{205,145}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>Cat_v6_05.2_Cat-Pick-Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,38},{205,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{205,133}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>Cat_v6_05.3_Cat-Pick-Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,38},{205,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{205,133}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>Cat_v6_05.4_Cat-Pick-Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{205,123}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{205,123}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
            <key>Cat_v6_05._Cat-Pick-Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,2},{205,113}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,38},{205,113}}</string>
                <key>sourceSize</key>
                <string>{223,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TEST.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b68cf020f9e704eb954685b529bdf79e$</string>
            <key>textureFileName</key>
            <string>TEST.png</string>
        </dict>
    </dict>
</plist>
